.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    height: 120px;

    .list-item-mask {
        position: absolute;
        width: 100%; height: 100%;
        background: linear-gradient(transparent, white);
        z-index: 2;
    }

    .piece-title {
        background-color: white;
        margin-top: auto;
        padding: 5px;
    }
}