<div class="main-content">
    <h1 class="page-title">
        <div class="page-header">
            All Pieces&nbsp;
            <a href="pieces/add" class="list-add">
                <span>Add&nbsp;</span><img class="add-icon" src="assets/plus.svg" alt="">
            </a>
        </div>
        <div class="title-underline"></div>
    </h1>
    @if (loading) {
        <div>Loading...</div>
    }
    @else {
        <div class="list-wrap">
            @for (piece of pieces; track piece.id) {
                <a [href]="`/pieces/${piece.id}`" class="list-item" [style]="`background-image: url(${piece.url})`">
                    <!-- <div class="list-item-mask"></div> -->
                    <div class="piece-title">{{ piece.title }}</div>
                </a>
            }
        </div>
        
    }
</div>