.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .piece-preview {
        width: 70px; height: 70px;
        background-size: cover;
        border-radius: 4px;
    }
}